@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Roboto Slab", sans-serif;
    --secondary-font: "Roboto Condensed", cursive;
    --primary-color: #2C3453 ;/* dark blue */
    --secondary-color: #37379D ;/* Blue */
    --highlight-color: #652D81 ; /* purple */
    --highlight-color-light: #6097F5; /* light blue*/
}

/* Global styles */

body {
    font-family: var(--primary-font);
    color: var(--primary-color);
}

.custom-button {
    background-color: #2C3453;
    border: #37379D;
}

.custom-button:hover {
    background-color: #37379D;
    border: #2C3453;
}

.accordion-header {
    background-color: var(--primary-color);
}
/* Men's stories */ 
.card-img-top {
    height: 200px; /* Set a fixed height */
    object-fit: cover; /* Ensure the image covers the area without stretching */
}

/* Accordion Styles */ 

.accordion ul li {
    margin-bottom: 1rem; /* Adjust spacing as needed */
}

.accordion-button:not(.collapsed) {
    background-color: var(--primary-color);
    color: #fff; /* Optional: Change text color to white for better contrast */
}

/* Issues card Styles */
 
.card-body {
    position: relative;
    padding-bottom: 50px; /* Adjust the padding to ensure space for the button */
}

.card-body > .custom-button {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

/* Footer Styles */

.footer {
    background: #ffffff;
    padding: 40px 0 20px;
    text-align: center;
}

.footer-brand {
    display: flex;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 15px;
    justify-content: center;
    align-self: flex-start;
}

.footer-text {
    color: #6c757d;
    font-size: 0.9rem;
    max-width: 600px;
    text-align: center;
}

.social-links {
    margin: 20px 0;
}

.social-link {
    color: #6c757d;
    margin-right: 20px;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.social-link:hover {
    color: #0d6efd;
}

.footer-links {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: center;
}

.footer-links a {
    color: #6c757d;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #0d6efd;
}

.copyright {
    color: #6c757d;
    font-size: 0.85rem;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #eee;
}