@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Roboto Slab", sans-serif;
    --secondary-font: "Roboto Condensed", cursive;
    --primary-color: #2C3453 ;/* dark blue */
    --secondary-color: #37379D ;/* Blue */
    --highlight-color: #652D81 ; /* purple */
    --highlight-color-light: #6097F5; /* light blue*/
}

/* Global styles */

body {
    font-family: var(--primary-font);
    font-color: var(--primary-color);
}